
<div class="container">
  <div class="row">
    <div class="col-xs-12">

			<app-navigation></app-navigation>

			<div style="text-align:center">
				<h1>{{ title }}</h1>
			</div>	

					
		<button (click)="showToasterSuccess()">
			Success Toaster
		</button>
		
		<button (click)="showToasterError()">
			Error Toaster
		</button>
		
		<button (click)="showToasterInfo()">
			Info Toaster
		</button>
		
		<button (click)="showToasterWarning()">
			Warning Toaster
		</button>

			<router-outlet></router-outlet>
      
    </div>
  </div>
</div>
